extends layout

block content
    form(autocomplete='false' id='form' method='post' action='/edit')
        // Creates the form data stuff
        for data in formData
            p #{data}&nbsp;
                input(type='text' name=data autocomplete='off')

        // Creates the questions
        for question in questions
            h3 #{question[0]}&nbsp;
            p
            p #{question[1]}&nbsp;
                input(type='text' autocomplete='off')

        p
            input(type='submit' value='Create Account!')