extends layout

block content

    h1 #{config.menu[3][0] + ', ' + account.username}

    a(href=config.menu[2][1])
        div(class='edit') Edit 

    a(href=config.menu[4][1])
        div(class='logout') Logout