html {
    background-color: gainsboro;
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42pt;
}

h2 {
    font-family: inherit;
    font-size: 22pt;
}

h3 {
    font-family: inherit;
    font-size: 20pt;
}

label {
    font-family: inherit;
    font-size: 20pt; 
}

a:link {
    text-decoration: none;
}

ul{
    padding: 0px 25px 0px 0px;
    display: inline;
    list-style-type: none;
}

img {
    width: 450px;
    height: auto;
}

input[type=password],
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=password]:focus,
input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    color: white;
    background-color: rgb(179, 56, 56); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 100px;
    border-radius: 100px; 
}

input[type=submit]:hover {
    background-color: rgb(255, 0, 0);
}

.edit {
    padding:5px 15px; 
    color: white;
    display: block;
    background-color: steelblue; 
    font-size: xx-large;
    border:0 none;
    cursor:pointer;
    width: 150px;
    margin: 50px auto;
    border-radius: 100px;   
}

.edit:hover {
    background-color: rgb(94, 206, 251);
}

.logout {
    padding:5px 15px; 
    color: white;
    display: block;
    background-color: rgb(179, 56, 56);
    font-size: x-large; 
    border:0 none;
    cursor:pointer;
    width: 100px;
    margin: auto;
    border-radius: 100px;   
}

.logout:hover {
    background-color: rgb(255, 0, 0);
}

b {
    font-size: 12pt;
}

.button {
    display: inline-block;
    background-color: #ccc;
    width: 30px;
    height: 30px;
}

.pass {
    margin: 0px 0px 0px 130px;
}

#divider {
    background: transparent;
    width: auto;
    height: 10px;
    border-bottom: 5px dotted darkgoldenrod;
    border-top: 5px dotted darkgoldenrod;
}

canvas {
    background: transparent;
}

#graph1 {
    width: 200px;
    margin: 10px 10px 10px 50px;
    height: 150px;
    float: left;
}

#graph2 {
    height: 150px;
    width: 200px;
    margin: 10px 10px 10px 400px;
    float: left;
}

#graph3 {
    height: 150px;
    width: 200px;
    margin: 10px 10px 10px 400px;
    float: left;
}

.graphs1 {
    height: 30px;
    width: 200px;
    font-size: 25px;
    margin: 10px;
    text-align: center;
    color: white;
}
.graphs2 {
    height: 30px;
    width: 300px;
    font-size: 25px;
    margin: 10px;
    text-align: center;
    color: white;
}
.graphs3 {
    height: 30px;
    width: 500px;
    font-size: 25px;
    margin: 10px;
    text-align: center;
    color: white;
}
.avatarImg {
    width: 220px;
}

.eye, .nose, .mouth, .color {
    display: inline-block;
    padding: 25px;
}